name: remote ssh command
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        password: ${{ secrets.PASS }}
        port: ${{ secrets.PORT }}
        script: cd /var/www/build.patrickgodbey.com/htdocs/wp-content/themes/patrickgodbeycom_theme; git pull;
